.inputFather h2{
    font-size: 36px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}
.inputFather input, select{
    border: 1px solid rgba(159, 159, 159, 1);
}
.inputFather{
    width: 608px;
    padding: 10px;
}
.inputFather label{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}
.oneInput{
    margin-left: 150px;
}
.nameInput{
    width: 211px;
    height: 75px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    margin-top: 22px;
    outline: none;
    cursor: pointer;
}
.surnameInput{
    width: 211px;
    height: 75px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}
.companyInput{
    width: 433px;
    height: 75px;
    border-radius: 10px;
    margin-top: 22px;    
}
.regionInput{
    width: 433px;
    height: 75px;
    border-radius: 10px;
    margin-top: 22px;
    padding-left: 33px;
    padding-right: 33px;
}
.about h2{
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 14px;
}
.pAndSpan{
    font-size: 16px;
    font-weight: 400;
    color: rgba(159, 159, 159, 1);
    margin-bottom: 22px;
    span{
        color: rgba(0, 0, 0, 1);
    }
}
.p_two{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 22px;
}
.about_tywo h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 14px;
}
.p_RS{
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
    margin: 22px 0;
}
.p_Rs_orange{
    font-size: 24px;
    font-weight: 700;
    color: rgba(184, 142, 47, 1);    ;
}
.about_Father{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_GrandFather{
    width: 600px;
    margin-bottom: 10px;
}
.grandFather_child hr{
    width: 520px;
    margin-left: 40px;
}
.p_Grand{
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(159, 159, 159, 1);
}
.grand_p_two{
    font-size: 16px;
    font-weight: 400;
}
.grand_p_two span{
    font-size: 16px;
    font-weight: 700;
}
.black_li{
    margin-top: 20px;
    color: rgba(0, 0, 0, 1);
    list-style: circle;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 11px;
}
.gray_li{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(159, 159, 159, 1);
    list-style: circle;
}
.grandFather_child button{
    width: 318px;
    height: 64px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 1);
    border: 1px solid black;
    margin-top: 39px;
    margin-left: 111px;
}
.otherFather{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}